/**{ border: 1px solid red; }*/
.maincomponent {
    border-style: dotted;
    /*height: 300pt;*/
}
.fieldviewer {
    border-style: double;
    padding: 0;

}

.fieldviewer .left {
    background: #66afe9;
    border-style: solid;
    padding: 0;
}

.fieldviewer .right {
    background: #2b542c;
    border-style: solid;
    padding: 0;
}

canvas {
    width: 100%;
    object-fit: contain;
}

