.maincomponent {
    /*display:table;*/
    border-style: dotted;
    height: 300pt;
}

.fieldviewer .left {
    border-style: solid;
    padding: 0;
}

.fieldviewer .right {
    border-style: solid;
    padding: 0;
}

#somecanvas {
    /*height: 600pt;*/
    padding: 0;
}

