*{ border: 1px solid red; }
.maincomponent {
    /*display:table;*/
    border-style: dotted;
    height: 300pt;
    padding: 0;
}
.fieldviewer {
    border-style: double;
    padding: 0;

}

.fieldviewer .left {
    border-style: solid;
    padding: 0;
}

.fieldviewer .right {
    border-style: solid;
    padding: 0;
}

#somecanvas {
    /*height: 250pt;*/
    padding: 0;
}

